.form-group {
  margin-left: 3.5rem;
}

.input-wrapper {
  margin-top: 2.5rem;
  .label {
    font-size: 12px;
    color: $text-color;
    display: block;
  }
  .input {
    border: 1px solid $primary-gray;
    width: 350px;
    color: $secondary;
    font-size: $font-size-s;
    border-radius: 4px;
    padding: 10px;
    &-md {
      width: 220px;
    }
    &-sm {
      width: 180px;
    }
    &-xs {
      width: 110px;
    }
    &-disabled {
      background-color: $input-disabled;
      border: 1px solid $primary-gray;
    }
    &:focus {
      border: 1px solid $primary;
      outline: none;
    }
  }
  .input-valid {
    background-color: $bg-valid-form;
    border: 1px solid $border-valid-form;
    border-radius: 6px;
    &:focus {
      border: 1px solid $border-valid-form;
      outline: $border-valid-form;
    }
  }

  .input-invalid {
    background-color: $bg-invalid-form;
    border: 1px solid $validation-error;
    &:focus {
      border: 1px solid $validation-error;
      outline: $validation-error;
    }
  }
}

.icon-valid {
  color: #04a204;
}

.icon-invalid {
  color: $validation-error;
}

.select-option {
  width: 63%;

  .vs__dropdown-menu {
    font-size: $font-size-s;
  }

  span.vs__selected {
    font-size: $font-size-s;
  }

  .vs--open .vs__dropdown-toggle {
    outline: none;
    border: 1px solid $primary;
  }

  .vs__dropdown-option--highlight {
    background-color: $vs-state-active-bg;
    opacity: 0.2;
    color: #212121;
  }

  input.vs__search {
    color: $secondary;
    font-weight: 500;
    opacity: 0.5;
    font-size: $font-size-s;
  }

  input.vs__no-options {
    font-size: $font-size-s;
  }
}

.validation {
  margin-left: 3.5rem;
}

.error {
  color: $validation-error;
  font-size: $font-size-m;
}
