.pr-1 {
  padding-right: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-4 {
  padding-top: 20px;
}

.px-2 {
  padding: 0 10px;
}

.px-3 {
  padding: 0 15px;
}

.px-4 {
  padding: 0 20px;
}

.py-2 {
  padding: 10px 0;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.mt-1 {
  margin-top: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}
