@import '../variables.scss';

.btn {
  cursor: pointer;
  border: 1px solid $primary;
  border-radius: 1rem;
  color: $primary;
  padding: 5px 20px;
  font-size: 14px;
  transition: 0.5s;
  &:hover {
    color: $white;
    background-color: $primary;
  }
  &:focus {
    box-shadow: 0 0 2pt 1pt $primary;
    outline: none;
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 1rem;
  padding: 10px 25px;
  color: $white;
  &:hover {
    background-color: $primary-hover;
  }
}

.btn-link {
  color: $primary;
  border: none;
  &:hover {
    color: $primary-hover;
    background-color: transparent;
  }
}

.btn-switcher {
  background-color: $primary-gray;
  padding: 2px 0;
  border-radius: 50px;
  color: $text-color-gray;
  cursor: pointer;
  transition: 5s;
  &:focus {
    outline: none;
    border: none;
  }
}

.btnSwitcherActive {
  background-color: #191e2b;
  color: $white;
  padding: 2px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}
