@import './Spacing/spacing.scss';
@import './Buttons/buttons.scss';
@import './FormElements/inputs.scss';

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.link {
  text-decoration: none;
  color: $text-color;
  font-size: $font-size-m;
  &-active {
    color: $primary;
    &:hover {
      color: $primary-hover;
      border-bottom: 1px solid $primary-hover;
    }
  }
}
