// colors
$white: #ffffff;
$primary: #0442cb;
$primary-hover: #0335a5;
$white: #ffffff;
$sidebar-link: #11100f;
$border-valid-form: #559d55;
$bg-valid-form: #107c1008;
$text-color: #3b3a39;
$vs-state-active-bg: #919191;
$primary-gray: #cecece;
$text-color-gray: #606060;

// fonts
$font-size-s: 12px;
$font-size-m: 14px;
$bold: 600;
